<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Restro is a modern presentation HTML5 Portfolio HTML Template.">
    <meta name="keywords" content="HTML5, Template, Design, portfolio, Restro, Single portfolio">
    <meta name="author" content="tortoizthemes">

    <title>Restro | Restaurant Checkout</title>

    <link rel="shortcut icon" href="/images/site-icon-resturant.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png">

    <link href="/css/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cPoppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link rel="stylesheet" href="/css/plugins.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/icons.min.css">
    <link rel="stylesheet" href="/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="/css/linea-arrows.css">
    <link rel="stylesheet" href="/css/restro-icon.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" type="text/css" href="/revolution/css/settings.css">

    <link rel="stylesheet" type="text/css" href="/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="/revolution/css/navigation.css">
    <script src="/js/modernizr.min.js" type="0c0b521b0bc9c9f659435d84-text/javascript"></script>
</head>
<body>

<header class="site-header bg-bl-transparent no-border sticky-header citrus-theme" id="site-header">
    <div class="container clearfix">
        <div class="row">
            <div class="col-5 col-sm-6 col-md-6 col-lg-6 col-xl-2">
                <div class="header-left">
                    <div class="site-logo">
                        <a href="index.html">
                            <img src="/images/resturent-logo.png" alt="site-logo">
                        </a>
                    </div>
                </div>
            </div>
            <div class="d-none d-xl-block col-md-8">
                <div class="header-middle">
                    <nav class="navigation">

                        <div class="menu-wrapper">
                            <div class="menu-content">
                                <ul class="mainmenu">
                                    <li>
                                        <a href="/index">Home</a>
                                        <ul class="sub-menu">
                                            <li><a href="/index">Home One</a></li>
                                            <li><a href="/index">Home Two</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/about-page" >About</a>
                                    </li>
                                    <li>
                                        <a href="/menu">Menu</a>
                                        <!--                                        <ul class="sub-menu">-->
                                        <!--                                            <li><a href="menu.html">Menu One</a></li>-->
                                        <!--                                            <li><a href="menu-2.html">Menu Grid &amp; List</a></li>-->
                                        <!--                                            <li><a href="menu-2-with-sidebar.html">Menu With Sidebar</a></li>-->
                                        <!--                                            <li><a href="menu-single.html">Menu Single Page</a></li>-->
                                        <!--                                        </ul>-->
                                    </li>
                                    <li>
                                        <a href="#">Pages</a>
                                        <ul class="sub-menu">
                                            <li><a href="/checkout-page"class="active">Checkout Pages</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/blog">Blog</a>
                                    </li>
                                    <li>
                                        <a href="/contact">Contact</a>
                                    </li>
                                    <li>
                                        <a href="/cart-page">Cart Page</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="col-7 col-sm-6 col-md-6 col-lg-6 col-xl-2">
                <div class="header-right">
                    <ul class="right-menu">
                        <li><a href="#" class="search-extend"><i class="pe-7s-search"></i></a></li>
                        <li><a href="#login-register" class="user-registration" data-toggle="modal"
                               data-target="#login-register"><i class="pe-7s-users"></i></a></li>
                        <li><a href="#" class="hamburger-menu"><i class="icon-arrows-hamburger-2"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="hamburger-block citrus-theme">
    <div class="overlaybg"></div>
    <div class="hamburger-block-container expand-block">
        <div class="hamburger-search-form">
            <form action="#" method="get" class="searchform">
                <div class="input-group">
                    <input type="text" class="form-controller" placeholder="Your seach item here">
                    <div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-primary">
                                <span class="fa fa-search" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="close-menu">
            <i class="pe-7s-close"></i>
        </div>

        <div class="main-mobile-menu" id="mobile-main-menu"></div>

        <div class="hamburger-wrapper">

            <div class="hamburger-content">
                <ul class="hamburger-mainmenu">
                    <li>
                        <a href="#">My Profile<span class="description">6 Check Profile</span></a>
                    </li>
                    <li>
                        <a href="#">Freebies<span class="description">97543 Boards</span></a>
                    </li>
                    <li>
                        <a href="#">Facebook Page<span class="description">753 Shared Documents</span></a>
                    </li>
                    <li>
                        <a href="#">Dribble<span class="description">74 Contacts</span></a>
                    </li>
                    <li>
                        <a href="#">Behance<span class="description">500 Follower</span></a>
                    </li>
                    <li>
                        <a href="#">Deals<span class="description">What we offer in deals</span></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="blog.html">Blog Page</a>
                            </li>
                            <li>
                                <a href="blog-single.html">Blog Sinlge</a>
                            </li>
                            <li>
                                <a href="404.html">404</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="hamburger-widget-area">
                <div class="widget">
                    <h2 class="widget-title">About Us</h2>
                    <div class="widget-content">
                        <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
                            sem neque sed ipsum.</p>
                        <a href="#" class="btn purchase-btn">Purchase Our Theme</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="login-register" class="login-register-modal citrus-theme modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="pe-7s-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <ul class="bsm-tabs">
                    <li class="bsm-tab"><a class="active" href="#login">Login</a></li>
                    <li class="bsm-tab"><a href="#register">Register</a></li>
                </ul>
                <div id="login" class="bsm-tab-content">
                    <form action="#" method="post" class="login-form">
                        <div class="bsm-input-field">
                            <input id="login_user_name" type="text" class="validate">
                            <label for="login_user_name">User Name</label>
                        </div>
                        <div class="bsm-input-field">
                            <input id="login_passwords" type="password" class="validate">
                            <label for="login_passwords">Passwords</label>
                        </div>
                        <div class="remember-field">
                            <input type="checkbox" id="remember">
                            <label for="remember">Remember Me</label>
                        </div>
                        <button class="bsm-btn waves-effect moody-blue-bg" type="submit" name="action">Submit</button>
                    </form>
                </div>
                <div id="register" class="bsm-tab-content">
                    <form action="#" method="post" class="register-form">
                        <div class="bsm-input-field">
                            <input id="full_name" type="text" class="validate">
                            <label for="full_name">Full Name</label>
                        </div>
                        <div class="bsm-input-field">
                            <input id="user_name" type="text" class="validate">
                            <label for="user_name">User Name</label>
                        </div>
                        <div class="bsm-input-field">
                            <input id="emai" type="email" class="validate">
                            <label for="emai">Email</label>
                        </div>
                        <div class="bsm-input-field">
                            <input id="passwords" type="password" class="validate">
                            <label for="passwords">Passwords</label>
                        </div>
                        <button class="bsm-btn waves-effect moody-blue-bg" type="submit" name="action">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay-search citrus-theme">
    <button type="button" class="overlay-close"><i class="pe-7s-close"></i></button>
    <div class="header-search-content">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-sm-12 col-md-8">
                    <h4 class="search-title">What are you looking for?</h4>
                    <form action="#" method="get" class="searchform">
                        <div class="input-group">
                            <input type="text" class="form-controller" placeholder="Your seach item here">
                            <div class="input-group-btn">
                                <div class="btn-group" role="group">
                                    <button type="submit" class="btn btn-primary">
                                        <span class="fa fa-search" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <h5 class="search-footer-title">
                        Press <span>enter</span> to confirm search term
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="restaurant-banner overlay-bg pd-t-175-b-90"
         style="background-image: url(/images/restaurant/banner/banner-2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs citrus-theme text-center color-white">
<span class="first-item">
<a href="index.html">Home</a>
</span>
                    <span class="separator"><i class="fa fa-angle-right"></i></span>
                    <span class="middle-item">
<a href="#">Product</a>
</span>
                    <span class="separator"><i class="fa fa-angle-right"></i></span>
                    <span class="last-item">Checkout</span>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="list-of-blog blog-single-page pd-tb-90">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <article class="page">
                    <div class="wooshop">
                        <div class="row">
                            <div class="col-12">
                                <div class="wooshop-info">
                                    Returning customer?
                                    <a href="#" class="retirve-btn">Login</a>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="wooshop-info">
                                    Have a coupon?
                                    <form class="checkout_coupon" method="post">
                                        <p class="form-row form-row-first">
                                            <input type="text" name="coupon_code" class="input-text"
                                                   placeholder="Coupon code" id="coupon_code" value="">
                                        </p>
                                        <div class="clear"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <form action="#" class="form-chackout">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout woocommerce-checkout">
                                        <div class="wooshop-billing-fields">
                                            <h3>Billing Details</h3>
                                            <div class="woo-billing-fields">
                                                <p class="form-row form-row-first">
                                                    <input type="text" class="input-text " id="billing_first_name"
                                                           placeholder="First Name *" value="">
                                                </p>
                                                <p class="form-row form-row-last">
                                                    <input type="text" class="input-text " name="billing_last_name"
                                                           id="billing_last_name" placeholder="Last Name *">
                                                </p>
                                                <p class="form-row form-row-wide">
                                                    <input type="text" class="input-text " name="billing_company"
                                                           id="billing_company" placeholder="Company Name">
                                                </p>
                                                <p class="form-row form-row-wide">
                                                    <select name="billing_country" id="billing_country"
                                                            class="country_to_state country_select">
                                                        <option value="">Select a country…</option>
                                                        <option value="AX">Åland Islands</option>
                                                    </select>
                                                </p>
                                                <p class="form-row form-row-wide">
                                                    <input type="text" class="input-text" id="billing_address_1"
                                                           placeholder="House number and street name">
                                                </p>
                                                <p class="form-row form-row-wide">
                                                    <input type="text" class="input-text" id="billing_address_2"
                                                           placeholder="Apartment, suite, unit etc. (optional)">
                                                </p>
                                                <p class="form-row form-row-wide">
                                                    <input type="text" class="input-text" name="billing_city"
                                                           id="billing_city" placeholder="Town / City *">
                                                </p>
                                                <p class="form-row form-row-wide">
                                                    <select name="billing_state" id="billing_state"
                                                            class="state_select ">
                                                        <option value="">Select a country…</option>
                                                        <option value="AX">Åland Islands</option>
                                                    </select>
                                                </p>
                                                <p class="form-row form-row-wide">
                                                    <input type="text" class="input-text" name="billing_postcode"
                                                           id="billing_postcode" placeholder="Postcode / ZIP">
                                                </p>
                                                <p class="form-row form-row-first">
                                                    <input type="tel" class="input-text " name="billing_phone"
                                                           id="billing_phone" placeholder="Phone">
                                                </p>
                                                <p class="form-row form-row-last">
                                                    <input type="email" class="input-text " name="billing_email"
                                                           id="billing_email" placeholder="Email Address *">
                                                </p>
                                                <p class="form-row form-row-wide">
                                                    <input type="checkbox" value="1" name="createaccount"
                                                           id="createaccount" class="input-checkbox">
                                                    <label class="checkbox" for="createaccount">Create an
                                                        account?</label>
                                                </p>
                                                <h3 class="payment-method-title">Payment Method</h3>
                                                <p class="form-row form-row-wide">
                                                    <input type="checkbox" value="1" name="createaccount"
                                                           id="direct_back_transper" class="input-checkbox">
                                                    <label class="checkbox" for="direct_back_transper">Direct Bank
                                                        Transfer</label>
                                                </p>
                                                <span class="pay-description">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</span>
                                                <p class="form-row form-row-wide">
                                                    <input type="checkbox" value="1" name="createaccount" id="paypal"
                                                           class="input-checkbox">
                                                    <label class="checkbox" for="paypal">Paypal</label>
                                                    <span class="clear"></span>
                                                </p>
                                                <span class="pay-description">What's paypal?</span>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <p class="form-row form-row-wide">
                                    <h3 id="ship-to-different-address">
                                        <input type="checkbox" value="1" name="ship_to_different_address"
                                               class="input-checkbox" id="ship-to-different-address-checkbox">
                                        <label class="checkbox" for="ship-to-different-address-checkbox">Ship to a
                                            different address?</label>
                                    </h3>

                                    <p class="form-row form-row-wide">
                                        <label class="" for="order_comments">Order Notes</label>
                                        <textarea cols="10" rows="5"
                                                  placeholder="Notes about your order, e.g. special notes for delivery."
                                                  id="order_comments" class="bsm-textarea"
                                                  name="order_comments"></textarea>
                                    </p>
                                    <h3 id="order_review_heading">Your order</h3>
                                    <div id="order_review">
                                        <table class="shop_table">
                                            <tbody>
                                            <tr class="cart_item">
                                                <td class="product-name">
                                                    <figure class="product-thumb">
                                                        <img src="/images/restaurant/cart/product-1.jpg" alt="">
                                                    </figure>
                                                    <span class="product-title">Etiam Consequat Special</span>
                                                    <span class="product-cat">Non Vegetarian</span>
                                                </td>
                                                <td>
                                                    × 1
                                                </td>
                                                <td class="product-total">
                                                    <span class="amount">£9.00</span>
                                                </td>
                                            </tr>
                                            <tr class="cart_item">
                                                <td class="product-name">
                                                    <figure class="product-thumb">
                                                        <img src="/images/restaurant/cart/product-2.jpg" alt="">
                                                    </figure>
                                                    <span class="product-title">Etiam Consequat Special</span>
                                                    <span class="product-cat">Non Vegetarian</span>
                                                </td>
                                                <td>
                                                    × 1
                                                </td>
                                                <td class="product-total">
                                                    <span class="amount">£9.00</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr class="cart-subtotal">
                                                <th>Cart Subtotal</th>
                                                <td><span class="amount">£9.00</span></td>
                                            </tr>
                                            <tr class="shipping">
                                                <th>Shipping and Handling</th>
                                                <td>
                                                    <p>Please fill in your details to see available shipping
                                                        methods.</p>
                                                </td>
                                            </tr>
                                            <tr class="order-total">
                                                <th>Order Total</th>
                                                <td><strong><span class="amount">£9.00</span></strong></td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="form-row form-row-wide">
                                        <input type="checkbox" value="1" name="createaccount" id="trams-condition"
                                               class="input-checkbox">
                                        <label class="checkbox" for="trams-condition">I've read and accept the terms
                                            &amp; conditions *</label>
                                    </p>
                                    <button type="submit" class="checkout-submit">Proceed To Pay</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

<footer class="site-footer bg-nero">
    <div class="footer-middle citrus-theme">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="widget">
                        <div class="widget-content">
                            <figure class="widget-thumb">
                                <img src="/images/resturent-logo.png" alt="">
                            </figure>
                            <p>It is a long established fact that a reader will be distracted by the readable content of
                                a page when looking at its layout.</p>
                            <br>
                            <ul class="social-link">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-feed"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget widget_nav_menu">
                        <h2 class="widget-title">Help full links</h2>
                        <div class="widget-content">
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">FAQ 1</a></li>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Latest News</a></li>
                                <li><a href="#">Phones</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget widget_nav_menu">
                        <h2 class="widget-title">Support</h2>
                        <div class="widget-content">
                            <ul>
                                <li><a href="#">About Me</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">Packages</a></li>
                                <li><a href="#">Testimonial</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="widget">
                        <h2 class="widget-title">Contact Us</h2>
                        <div class="widget-content">
                            <ul>
                                <li><i class="fa fa-map-marker"></i>120 Constitution Ave NE, Washington, DC 20002</li>
                                <li><i class="fa fa-phone"></i>+1 230 456 789 - 012 345 6789</li>
                                <li><i class="fa fa-envelope"></i><a
                                        href="../../../../restro-html.tortoizthemes.com/cdn-cgi/l/email-protection.html"
                                        class="__cf_email__"
                                        data-cfemail="91e5fee3e5fef8ebe5f9f4fcf4e2d1f6fcf0f8fdbff2fefc">[email&#160;protected]</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom citrus-theme">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright-text">Copyright 2020 <a href="#" class="color-citrus">Restro</a> All rights
                        Reserved.</p>
                </div>
                <div class="col-md-6">
                    <ul class="footer-menu float-right">
                        <li><a href="#">Map</a></li>
                        <li><a href="#">TortoizThemes</a></li>
                        <li><a href="#">Terms and Condition</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script data-cfasync="false"
        src="/revolution/js/email-decode.min.js"></script>
<script src="/js/jquery.min.js" type="0c0b521b0bc9c9f659435d84-text/javascript"></script>
<script src="/js/popper.min.js" type="0c0b521b0bc9c9f659435d84-text/javascript"></script>
<script src="/js/plugin.min.js" type="0c0b521b0bc9c9f659435d84-text/javascript"></script>
<script src="/js/bootstrap.min.js" type="0c0b521b0bc9c9f659435d84-text/javascript"></script>
<script src="/js/isotope.pkgd.min.js" type="0c0b521b0bc9c9f659435d84-text/javascript"></script>
<script src="/js/jquery.hoverdir.js" type="0c0b521b0bc9c9f659435d84-text/javascript"></script>
<script src="/js/ajaxchimp.js" type="0c0b521b0bc9c9f659435d84-text/javascript"></script>
<script src="/js/restro.min.js" type="0c0b521b0bc9c9f659435d84-text/javascript"></script>
<script src="/revolution/js/rocket-loader.min.js"
        data-cf-settings="0c0b521b0bc9c9f659435d84-|49" defer=""></script>
</body>
</html>