<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Restro is a modern presentation HTML5 Portfolio HTML Template.">
    <meta name="keywords" content="HTML5, Template, Design, portfolio, Restro, Single portfolio">
    <meta name="author" content="tortoizthemes">

    <title>Restro | Restaurant Memu</title>

    <link rel="shortcut icon" href="/images/site-icon-resturant.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png">

    <link href="/css/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cPoppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link rel="stylesheet" href="/css/plugins.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/icons.min.css">
    <link rel="stylesheet" href="/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="/css/linea-arrows.css">
    <link rel="stylesheet" href="/css/restro-icon.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" type="text/css" href="/revolution/css/settings.css">

    <link rel="stylesheet" type="text/css" href="/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="/revolution/css/navigation.css">
    <script src="/js/modernizr.min.js" type="727e1113d46a2bc2e3d03260-text/javascript"></script>
</head>
<body>

<header class="site-header bg-bl-transparent no-border sticky-header citrus-theme" id="site-header">
    <div class="container clearfix">
        <div class="row">
            <div class="col-5 col-sm-6 col-md-6 col-lg-6 col-xl-2">
                <div class="header-left">
                    <div class="site-logo">
                        <a href="index.html">
                            <img src="/images/resturent-logo.png" alt="site-logo">
                        </a>
                    </div>
                </div>
            </div>
            <div class="d-none d-xl-block col-md-8">
                <div class="header-middle">
                    <nav class="navigation">

                        <div class="menu-wrapper">
                            <div class="menu-content">
                                <ul class="mainmenu">
                                    <li>
                                        <a href="/index">Home</a>
                                        <ul class="sub-menu">
                                            <li><a href="/index">Home One</a></li>
                                            <li><a href="/index">Home Two</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/about-pagel" class="active">About</a>
                                    </li>
                                    <li>
                                        <a href="/menu">Menu</a>
                                        <!--                                        <ul class="sub-menu">-->
                                        <!--                                            <li><a href="menu.html">Menu One</a></li>-->
                                        <!--                                            <li><a href="menu-2.html">Menu Grid &amp; List</a></li>-->
                                        <!--                                            <li><a href="menu-2-with-sidebar.html">Menu With Sidebar</a></li>-->
                                        <!--                                            <li><a href="menu-single.html">Menu Single Page</a></li>-->
                                        <!--                                        </ul>-->
                                    </li>
                                    <li>
                                        <a href="#">Pages</a>
                                        <ul class="sub-menu">
                                            <li><a href="/checkout-page">Checkout Pages</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/blog">Blog</a>
                                    </li>
                                    <li>
                                        <a href="/contact">Contact</a>
                                    </li>
                                    <li>
                                        <a href="/cart-page">Cart Page</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="col-7 col-sm-6 col-md-6 col-lg-6 col-xl-2">
                <div class="header-right">
                    <ul class="right-menu">
                        <li><a href="#" class="search-extend"><i class="pe-7s-search"></i></a></li>
                        <li><a href="#login-register" class="user-registration" data-toggle="modal"
                               data-target="#login-register"><i class="pe-7s-users"></i></a></li>
                        <li><a href="#" class="hamburger-menu"><i class="icon-arrows-hamburger-2"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="hamburger-block citrus-theme">
    <div class="overlaybg"></div>
    <div class="hamburger-block-container expand-block">
        <div class="hamburger-search-form">
            <form action="#" method="get" class="searchform">
                <div class="input-group">
                    <input type="text" class="form-controller" placeholder="Your seach item here">
                    <div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-primary">
                                <span class="fa fa-search" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="close-menu">
            <i class="pe-7s-close"></i>
        </div>

        <div class="main-mobile-menu" id="mobile-main-menu"></div>

        <div class="hamburger-wrapper">

            <div class="hamburger-content">
                <ul class="hamburger-mainmenu">
                    <li>
                        <a href="#">My Profile<span class="description">6 Check Profile</span></a>
                    </li>
                    <li>
                        <a href="#">Freebies<span class="description">97543 Boards</span></a>
                    </li>
                    <li>
                        <a href="#">Facebook Page<span class="description">753 Shared Documents</span></a>
                    </li>
                    <li>
                        <a href="#">Dribble<span class="description">74 Contacts</span></a>
                    </li>
                    <li>
                        <a href="#">Behance<span class="description">500 Follower</span></a>
                    </li>
                    <li>
                        <a href="#">Deals<span class="description">What we offer in deals</span></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="blog.html">Blog Page</a>
                            </li>
                            <li>
                                <a href="blog-single.html">Blog Sinlge</a>
                            </li>
                            <li>
                                <a href="404.html">404</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="hamburger-widget-area">
                <div class="widget">
                    <h2 class="widget-title">About Us</h2>
                    <div class="widget-content">
                        <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
                            sem neque sed ipsum.</p>
                        <a href="#" class="btn purchase-btn">Purchase Our Theme</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="login-register" class="login-register-modal citrus-theme modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="pe-7s-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <ul class="bsm-tabs">
                    <li class="bsm-tab"><a class="active" href="#login">Login</a></li>
                    <li class="bsm-tab"><a href="#register">Register</a></li>
                </ul>
                <div id="login" class="bsm-tab-content">
                    <form action="#" method="post" class="login-form">
                        <div class="bsm-input-field">
                            <input id="login_user_name" type="text" class="validate">
                            <label for="login_user_name">User Name</label>
                        </div>
                        <div class="bsm-input-field">
                            <input id="login_passwords" type="password" class="validate">
                            <label for="login_passwords">Passwords</label>
                        </div>
                        <div class="remember-field">
                            <input type="checkbox" id="remember">
                            <label for="remember">Remember Me</label>
                        </div>
                        <button class="bsm-btn waves-effect moody-blue-bg" type="submit" name="action">Submit</button>
                    </form>
                </div>
                <div id="register" class="bsm-tab-content">
                    <form action="#" method="post" class="register-form">
                        <div class="bsm-input-field">
                            <input id="full_name" type="text" class="validate">
                            <label for="full_name">Full Name</label>
                        </div>
                        <div class="bsm-input-field">
                            <input id="user_name" type="text" class="validate">
                            <label for="user_name">User Name</label>
                        </div>
                        <div class="bsm-input-field">
                            <input id="emai" type="email" class="validate">
                            <label for="emai">Email</label>
                        </div>
                        <div class="bsm-input-field">
                            <input id="passwords" type="password" class="validate">
                            <label for="passwords">Passwords</label>
                        </div>
                        <button class="bsm-btn waves-effect moody-blue-bg" type="submit" name="action">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay-search citrus-theme">
    <button type="button" class="overlay-close"><i class="pe-7s-close"></i></button>
    <div class="header-search-content">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-sm-12 col-md-8">
                    <h4 class="search-title">What are you looking for?</h4>
                    <form action="#" method="get" class="searchform">
                        <div class="input-group">
                            <input type="text" class="form-controller" placeholder="Your seach item here">
                            <div class="input-group-btn">
                                <div class="btn-group" role="group">
                                    <button type="submit" class="btn btn-primary">
                                        <span class="fa fa-search" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <h5 class="search-footer-title">
                        Press <span>enter</span> to confirm search term
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="restaurant-banner overlay-bg pd-t-175-b-90"
         style="background-image: url(/images/restaurant/banner/banner-2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs citrus-theme text-center color-white">
<span class="first-item">
<a href="http://localhost/houserent-v2/">Home</a>
</span>
                    <span class="separator"><i class="fa fa-angle-right"></i></span>
                    <span class="last-item">Grids Products</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our-menu-block pd-tb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mrb-60">
                <div class="restau-tab-menu">
                    <div class="row align-items-center">
                        <div class="col-6 col-md-2">
                            <ul class="blog-layout-tab-menu v-2 bsm-tabs align-items-center citrus-theme"
                                id="blog-tab-menu">
                                <li class="bsm-tab">
                                    <a href="#menu-style-grid"><i class="icon-arrows-squares"></i></a>
                                </li>
                                <li class="bsm-tab">
                                    <a href="#menu-style-list"><i class="icon-arrows-hamburger1"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8 d-none d-xl-block">
                            <p class="pagination-position">Showing
                                <a href="#">3</a>
                                <a href="#">6</a>
                                <a href="#" class="active">9</a>
                                of 25 Products
                            </p>
                        </div>
                        <div class="col-6 col-md-2">
                            <div class="float-right">
                                <ul class="portfolio-menu citrus-theme">
                                    <li>
                                        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter
                                            +</a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="#" data-filter="*">All</a></li>
                                            <li><a href="#" data-filter=".apps">Apps</a></li>
                                            <li><a href="#" data-filter=".web">Web Development</a></li>
                                            <li><a href="#" data-filter=".graphics">Graphics Design</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="shop-sidebar">
                    <aside class="widget clearfix widget_categories">
                        <h3 class="widget-title">Non Vegetarian</h3>
                        <ul>
                            <li><a href="#">Chicken</a></li>
                            <li><a href="#">Beef</a></li>
                            <li><a href="#">Noodle</a></li>
                            <li><a href="#">Salad</a></li>
                            <li><a href="#">Seafood</a></li>
                            <li><a href="#">Bread</a></li>
                            <li><a href="#">Soup</a></li>
                        </ul>
                    </aside>
                    <aside class="widget clearfix widget_categories">
                        <h3 class="widget-title">Vegetarian</h3>
                        <ul>
                            <li><a href="#">Salad</a></li>
                            <li><a href="#">Beef</a></li>
                            <li><a href="#">Noodle</a></li>
                            <li><a href="#">Egg</a></li>
                            <li><a href="#">Mushroom</a></li>
                            <li><a href="#">Tofu Tacos</a></li>
                        </ul>
                    </aside>
                    <aside class="widget clearfix widget_categories">
                        <h3 class="widget-title">Country</h3>
                        <ul>
                            <li><a href="#">India</a></li>
                            <li><a href="#">Italia</a></li>
                            <li><a href="#">Japan</a></li>
                            <li><a href="#">French</a></li>
                            <li><a href="#">England</a></li>
                            <li><a href="#">Vietnam</a></li>
                            <li><a href="#">Korea</a></li>
                        </ul>
                    </aside>
                    <aside class="widget clearfix widget_categories">
                        <h3 class="widget-title">Processing</h3>
                        <ul>
                            <li><a href="#">Boiled</a></li>
                            <li><a href="#">Fry</a></li>
                            <li><a href="#">Steamed</a></li>
                        </ul>
                    </aside>
                    <aside class="widget clearfix widget_categories">
                        <h3 class="widget-title">Processing</h3>
                        <ul>
                            <li><a href="#">Boiled</a></li>
                            <li><a href="#">Fry</a></li>
                            <li><a href="#">Steamed</a></li>
                        </ul>
                    </aside>
                    <aside class="widget clearfix widget_tag_cloud">
                        <h3 class="widget-title">Processing</h3>
                        <div class="tagcloud">
                            <a href="#">Tofu with been</a>
                            <a href="#">Party</a>
                            <a href="#">Chicken</a>
                            <a href="#">Tomato</a>
                            <a href="#">Vegetarian</a>
                            <a href="#">Soup</a>
                        </div>
                    </aside>
                </div>
            </div>
            <div class="col-md-9">
                <div class="grid-menu-tab" id="menu-style-grid">
                    <div class="item-3 row">
                        <div class="item col-md-4">
                            <div class="restu-menu-item">
                                <figure class="menu-thumbnail">
                                    <img src="/images/restaurant/grid-menu/menu-1.jpg" alt="menu">
                                </figure>
                                <div class="menu-desc pd-lr-0">
                                    <h2 class="menu-title"><a href="#">Etiam Consequat Special Soup</a></h2>
                                    <div class="menu-meta">
                                        <div class="menu-cat">
                                            <a href="#">Non Vegetarian</a>
                                        </div>
                                    </div>
                                    <div class="menu-price">
                                        <div class="price"><span>$</span>4.9</div>
                                        <div class="order-block">
                                            <a href="#" class="order-btn">Order</a>
                                            <a href="#" class="wishlist-btn"><i class="pe-7s-like"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-4">
                            <div class="restu-menu-item">
                                <figure class="menu-thumbnail">
                                    <img src="/images/restaurant/grid-menu/menu-2.jpg" alt="menu">
                                </figure>
                                <div class="menu-desc pd-lr-0">
                                    <h2 class="menu-title"><a href="#">Etiam Consequat Special Soup</a></h2>
                                    <div class="menu-meta">
                                        <div class="menu-cat">
                                            <a href="#">Non Vegetarian</a>
                                        </div>
                                    </div>
                                    <div class="menu-price">
                                        <div class="price"><span>$</span>4.9</div>
                                        <div class="order-block">
                                            <a href="#" class="order-btn">Order</a>
                                            <a href="#" class="wishlist-btn"><i class="pe-7s-like"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-4">
                            <div class="restu-menu-item">
                                <figure class="menu-thumbnail">
                                    <img src="/images/restaurant/grid-menu/menu-3.jpg" alt="menu">
                                </figure>
                                <div class="menu-desc pd-lr-0">
                                    <h2 class="menu-title"><a href="#">Etiam Consequat Special Soup</a></h2>
                                    <div class="menu-meta">
                                        <div class="menu-cat">
                                            <a href="#">Non Vegetarian</a>
                                        </div>
                                    </div>
                                    <div class="menu-price">
                                        <div class="price"><span>$</span>4.9</div>
                                        <div class="order-block">
                                            <a href="#" class="order-btn">Order</a>
                                            <a href="#" class="wishlist-btn"><i class="pe-7s-like"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-4">
                            <div class="restu-menu-item">
                                <figure class="menu-thumbnail">
                                    <img src="/images/restaurant/grid-menu/menu-4.jpg" alt="menu">
                                </figure>
                                <div class="menu-desc pd-lr-0">
                                    <h2 class="menu-title"><a href="#">Etiam Consequat Special Soup</a></h2>
                                    <div class="menu-meta">
                                        <div class="menu-cat">
                                            <a href="#">Non Vegetarian</a>
                                        </div>
                                    </div>
                                    <div class="menu-price">
                                        <div class="price"><span>$</span>4.9</div>
                                        <div class="order-block">
                                            <a href="#" class="order-btn">Order</a>
                                            <a href="#" class="wishlist-btn"><i class="pe-7s-like"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-4">
                            <div class="restu-menu-item">
                                <figure class="menu-thumbnail">
                                    <img src="/images/restaurant/grid-menu/menu-5.jpg" alt="menu">
                                </figure>
                                <div class="menu-desc pd-lr-0">
                                    <h2 class="menu-title"><a href="#">Etiam Consequat Special Soup</a></h2>
                                    <div class="menu-meta">
                                        <div class="menu-cat">
                                            <a href="#">Non Vegetarian</a>
                                        </div>
                                    </div>
                                    <div class="menu-price">
                                        <div class="price"><span>$</span>4.9</div>
                                        <div class="order-block">
                                            <a href="#" class="order-btn">Order</a>
                                            <a href="#" class="wishlist-btn"><i class="pe-7s-like"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-4">
                            <div class="restu-menu-item">
                                <figure class="menu-thumbnail">
                                    <img src="/images/restaurant/grid-menu/menu-6.jpg" alt="menu">
                                </figure>
                                <div class="menu-desc pd-lr-0">
                                    <h2 class="menu-title"><a href="#">Etiam Consequat Special Soup</a></h2>
                                    <div class="menu-meta">
                                        <div class="menu-cat">
                                            <a href="#">Non Vegetarian</a>
                                        </div>
                                    </div>
                                    <div class="menu-price">
                                        <div class="price"><span>$</span>4.9</div>
                                        <div class="order-block">
                                            <a href="#" class="order-btn">Order</a>
                                            <a href="#" class="wishlist-btn"><i class="pe-7s-like"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-4">
                            <div class="restu-menu-item">
                                <figure class="menu-thumbnail">
                                    <img src="/images/restaurant/grid-menu/menu-7.jpg" alt="menu">
                                </figure>
                                <div class="menu-desc pd-lr-0">
                                    <h2 class="menu-title"><a href="#">Etiam Consequat Special Soup</a></h2>
                                    <div class="menu-meta">
                                        <div class="menu-cat">
                                            <a href="#">Non Vegetarian</a>
                                        </div>
                                    </div>
                                    <div class="menu-price">
                                        <div class="price"><span>$</span>4.9</div>
                                        <div class="order-block">
                                            <a href="#" class="order-btn">Order</a>
                                            <a href="#" class="wishlist-btn"><i class="pe-7s-like"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-4">
                            <div class="restu-menu-item">
                                <figure class="menu-thumbnail">
                                    <img src="/images/restaurant/grid-menu/menu-8.jpg" alt="menu">
                                </figure>
                                <div class="menu-desc pd-lr-0">
                                    <h2 class="menu-title"><a href="#">Etiam Consequat Special Soup</a></h2>
                                    <div class="menu-meta">
                                        <div class="menu-cat">
                                            <a href="#">Non Vegetarian</a>
                                        </div>
                                    </div>
                                    <div class="menu-price">
                                        <div class="price"><span>$</span>4.9</div>
                                        <div class="order-block">
                                            <a href="#" class="order-btn">Order</a>
                                            <a href="#" class="wishlist-btn"><i class="pe-7s-like"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-4">
                            <div class="restu-menu-item">
                                <figure class="menu-thumbnail">
                                    <img src="/images/restaurant/grid-menu/menu-9.jpg" alt="menu">
                                </figure>
                                <div class="menu-desc pd-lr-0">
                                    <h2 class="menu-title"><a href="#">Etiam Consequat Special Soup</a></h2>
                                    <div class="menu-meta">
                                        <div class="menu-cat">
                                            <a href="#">Non Vegetarian</a>
                                        </div>
                                    </div>
                                    <div class="menu-price">
                                        <div class="price"><span>$</span>4.9</div>
                                        <div class="order-block">
                                            <a href="#" class="order-btn">Order</a>
                                            <a href="#" class="wishlist-btn"><i class="pe-7s-like"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menu-pagination-block">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="pagination-position">Showing
                                    <a href="#">3</a>
                                    <a href="#">6</a>
                                    <a href="#" class="active">9</a>
                                    of 25 Products
                                </p>
                            </div>
                            <div class="col-md-6">
                                <div class="pagination-link">
                                    <ul class="pagination justify-content-md-center">
                                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                        <li class="active"><a href="#">01</a></li>
                                        <li><a href="#">02</a></li>
                                        <li><a href="#">03</a></li>
                                        <li class="dot"><a href="#">...</a></li>
                                        <li><a href="#">12</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-menu-tab" id="menu-style-list">
                    <div class="restu-menu-item restu-list">
                        <figure class="menu-thumbnail">
                            <img src="/images/restaurant/grid-menu/menu-1.jpg" alt="menu">
                        </figure>
                        <div class="menu-desc pd-lr-0">
                            <h2 class="menu-title"><a href="#">Etiam Consequat Special Soup</a></h2>
                            <div class="rating-content">
<span class="star-rating">
<i class="pe-7s-star"></i>
<i class="pe-7s-star"></i>
<i class="pe-7s-star"></i>
<i class="pe-7s-star"></i>
<i class="pe-7s-star"></i>
</span>
                                <span class="devide">|</span>
                                <span class="rating-content">5 Review</span>
                            </div>
                            <div class="price"><span>$</span>4.9</div>
                            <div class="sku"><p>SKU: 123456K25</p></div>
                            <div class="menu-meta">
                                <div class="menu-cat">
                                    <a href="#">Non Vegetarian</a>
                                </div>
                            </div>
                            <div class="menu-desc-list">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                            <div class="menu-price">
                                <div class="order-block float-left">
                                    <div class="qty-count">
                                        <input type="number" step="0" min="0" max="10" name="quantity" value="1"
                                               title="Product quantity input tooltip" class="count-input" size="4">
                                    </div>
                                    <a href="#" class="order-btn">Order</a>
                                    <a href="#" class="wishlist-btn"><i class="pe-7s-like"></i></a>
                                </div>
                                <div class="menu-share float-right">
                                    <p class="share-item">Share
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="restu-menu-item restu-list">
                        <figure class="menu-thumbnail">
                            <img src="/images/restaurant/grid-menu/menu-2.jpg" alt="menu">
                        </figure>
                        <div class="menu-desc pd-lr-0">
                            <h2 class="menu-title"><a href="#">Etiam Consequat Special Soup</a></h2>
                            <div class="rating-content">
<span class="star-rating">
<i class="pe-7s-star"></i>
<i class="pe-7s-star"></i>
<i class="pe-7s-star"></i>
<i class="pe-7s-star"></i>
<i class="pe-7s-star"></i>
</span>
                                <span class="devide">|</span>
                                <span class="rating-content">5 Review</span>
                            </div>
                            <div class="price"><span>$</span>4.9</div>
                            <div class="sku"><p>SKU: 123456K25</p></div>
                            <div class="menu-meta">
                                <div class="menu-cat">
                                    <a href="#">Non Vegetarian</a>
                                </div>
                            </div>
                            <div class="menu-desc-list">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                            <div class="menu-price">
                                <div class="order-block float-left">
                                    <div class="qty-count">
                                        <input type="number" step="0" min="0" max="10" name="quantity" value="1"
                                               title="Product quantity input tooltip" class="count-input" size="4">
                                    </div>
                                    <a href="#" class="order-btn">Order</a>
                                    <a href="#" class="wishlist-btn"><i class="pe-7s-like"></i></a>
                                </div>
                                <div class="menu-share float-right">
                                    <p class="share-item">Share
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="restu-menu-item restu-list">
                        <figure class="menu-thumbnail">
                            <img src="/images/restaurant/grid-menu/menu-3.jpg" alt="menu">
                        </figure>
                        <div class="menu-desc pd-lr-0">
                            <h2 class="menu-title"><a href="#">Etiam Consequat Special Soup</a></h2>
                            <div class="rating-content">
<span class="star-rating">
<i class="pe-7s-star"></i>
<i class="pe-7s-star"></i>
<i class="pe-7s-star"></i>
<i class="pe-7s-star"></i>
<i class="pe-7s-star"></i>
</span>
                                <span class="devide">|</span>
                                <span class="rating-content">5 Review</span>
                            </div>
                            <div class="price"><span>$</span>4.9</div>
                            <div class="sku"><p>SKU: 123456K25</p></div>
                            <div class="menu-meta">
                                <div class="menu-cat">
                                    <a href="#">Non Vegetarian</a>
                                </div>
                            </div>
                            <div class="menu-desc-list">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                            <div class="menu-price">
                                <div class="order-block float-left">
                                    <div class="qty-count">
                                        <input type="number" step="0" min="0" max="10" name="quantity" value="1"
                                               title="Product quantity input tooltip" class="count-input" size="4">
                                    </div>
                                    <a href="#" class="order-btn">Order</a>
                                    <a href="#" class="wishlist-btn"><i class="pe-7s-like"></i></a>
                                </div>
                                <div class="menu-share float-right">
                                    <p class="share-item">Share
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menu-pagination-block">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="pagination-position">Showing
                                    <a href="#">3</a>
                                    <a href="#">6</a>
                                    <a href="#" class="active">9</a>
                                    of 25 Products
                                </p>
                            </div>
                            <div class="col-md-6">
                                <div class="pagination-link">
                                    <ul class="pagination justify-content-md-center">
                                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                        <li class="active"><a href="#">01</a></li>
                                        <li><a href="#">02</a></li>
                                        <li><a href="#">03</a></li>
                                        <li class="dot"><a href="#">...</a></li>
                                        <li><a href="#">12</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="site-footer bg-nero">
    <div class="footer-middle citrus-theme">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="widget">
                        <div class="widget-content">
                            <figure class="widget-thumb">
                                <img src="/images/resturent-logo.png" alt="">
                            </figure>
                            <p>It is a long established fact that a reader will be distracted by the readable content of
                                a page when looking at its layout.</p>
                            <br>
                            <ul class="social-link">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-feed"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget widget_nav_menu">
                        <h2 class="widget-title">Help full links</h2>
                        <div class="widget-content">
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">FAQ 1</a></li>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Latest News</a></li>
                                <li><a href="#">Phones</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget widget_nav_menu">
                        <h2 class="widget-title">Support</h2>
                        <div class="widget-content">
                            <ul>
                                <li><a href="#">About Me</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">Packages</a></li>
                                <li><a href="#">Testimonial</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="widget">
                        <h2 class="widget-title">Contact Us</h2>
                        <div class="widget-content">
                            <ul>
                                <li><i class="fa fa-map-marker"></i>120 Constitution Ave NE, Washington, DC 20002</li>
                                <li><i class="fa fa-phone"></i>+1 230 456 789 - 012 345 6789</li>
                                <li><i class="fa fa-envelope"></i><a
                                        href="../../../../restro-html.tortoizthemes.com/cdn-cgi/l/email-protection.html"
                                        class="__cf_email__"
                                        data-cfemail="bfcbd0cdcbd0d6c5cbd7dad2daccffd8d2ded6d391dcd0d2">[email&#160;protected]</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom citrus-theme">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright-text">Copyright 2020 <a href="#" class="color-citrus">Restro</a> All rights
                        Reserved.</p>
                </div>
                <div class="col-md-6">
                    <ul class="footer-menu float-right">
                        <li><a href="#">Map</a></li>
                        <li><a href="#">TortoizThemes</a></li>
                        <li><a href="#">Terms and Condition</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script data-cfasync="false"
        src="/revolution/js/email-decode.min.js"></script>
<script src="/js/jquery.min.js" type="727e1113d46a2bc2e3d03260-text/javascript"></script>
<script src="/js/popper.min.js" type="727e1113d46a2bc2e3d03260-text/javascript"></script>
<script src="/js/plugin.min.js" type="727e1113d46a2bc2e3d03260-text/javascript"></script>
<script src="/js/bootstrap.min.js" type="727e1113d46a2bc2e3d03260-text/javascript"></script>
<script src="/js/isotope.pkgd.min.js" type="727e1113d46a2bc2e3d03260-text/javascript"></script>
<script src="/js/jquery.hoverdir.js" type="727e1113d46a2bc2e3d03260-text/javascript"></script>
<script src="/js/ajaxchimp.js" type="727e1113d46a2bc2e3d03260-text/javascript"></script>
<script src="/js/restro.min.js" type="727e1113d46a2bc2e3d03260-text/javascript"></script>
<script src="/revolution/js/rocket-loader.min.js"
        data-cf-settings="727e1113d46a2bc2e3d03260-|49" defer=""></script>
</body>
</html>