<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="background: azure;
            font-size: medium;
            text-align: center;
            height: 200px;
            width: 100%;
            vertical-align: center">
    <h2>Welcome <span th:text="${user.name + ' ' + user.surname}"></span></h2>
    <h3>To Activate your profile please click on this <a
            th:href="@{http://localhost:8080/users/verify(token=${user.token})}">link</a></h3>
</div>
</body>
</html>